
body {
  /* height: 20vh; */
  width: 100%;
  background: url("assets/pexels-photo-2941985.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-area {
  width: 500px;
  padding: 20px 10px;
  border-radius: 20px;
  /* box-shadow: 0 0 3px; */
  display: flex;
}
input {
  flex: 5;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 1rem;
  padding: 8px;
  border: green solid 2px;
}
.btn {
  flex: 1;
  transition: 0.3s;
  font-size: 1rem;
  padding: 8px;
  background-color: #fff;
  color: green;
  border: green solid 2px;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  background-color: green;
  color: #fff;
}
#main-area {
  width: 70%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#main-area div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 7px;
}
#main-area span {
  font-size: 1rem;
  font-style: italic;
  flex: 5;
  margin-right: 15px;
  padding: 1px;
}
#main-area button {
  font-size: 0.8rem;
  font-style: normal;
  border-radius: 10px;
  border: red solid 0.5px;
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
  margin-left: 15px;
}
